
main{
    color: rgb(219, 219, 230);
}

body {
  background: rgb(23, 50, 95);
 
}
#profil{
    color: rgb(171, 216, 255);
}
#bienvenue-sur-mon-portfolio{
text-align: center;
color: rgb(171, 216, 255);
}
img{

    border-radius: 20px;
    width: 200px;
   position: relative;
   top:-155px;
}
.box-profil {
  height: 500px;
  padding: 20px 30px;
  border-radius: 12px;

  background: linear-gradient(135deg,
   rgb(57 73 226 / 41%),
   rgb(185 88 116 / 51%));
}

.box-profil > ul {
    margin-left: 200px;
    width: 120px;
 color: rgb(195, 218, 249);

}
.box-profil ul{
     font-size: 20px;
}

.btn {
    font-size: 20px;
  display: inline-block;
  width: 150px;      
  height: 45px;      
  padding: 10px 0;   
  margin: 10px 5px;
  border-radius: 8px;
  background: linear-gradient(135deg,
   rgb(57 73 226 / 41%),
   rgb(185 88 116 / 51%));
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center; 
  line-height: 45px;   
  transition: all 0.3s ease;
  position: relative;
  top: 170px;
  left: 750px;
}


.btn:hover {
  background: linear-gradient(135deg,
   rgb(57 73 226 / 41%),
   rgb(185 88 116 / 51%));
  transform: translateY(-2px);
}

.boxx-profil {
  height: 500px;
  padding: 20px 30px;
  border-radius: 12px;

  background: linear-gradient(135deg,
   rgb(57 73 226 / 41%),
   rgb(185 88 116 / 51%));
}
