
main{
    color: rgb(219, 219, 230);
}

body {
  background: rgb(23, 50, 95);
 
}
#profil{
    color: rgb(219, 219, 230);;
}
#bienvenue-sur-mon-portfolio{
text-align: center;
color: rgb(171, 216, 255);
}
img{

    border-radius: 800px;
    width: 200px;
   position: relative;
   top: 30px;
}
.box-profil {
  height: 500px;
  padding: 20px 30px;
  border-radius: 12px;

  background: linear-gradient(135deg,
   rgb(57 73 226 / 41%),
   rgb(185 88 116 / 51%));
}

.box-profil ul {
 color: rgb(195, 218, 249);
}
